/* Centralização de conteúdo */
.container {
    width: 80%;
    margin: 0 auto; /* Centraliza horizontalmente */
    padding: 20px;
}

/* Alinhar título e botão */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

/* Estilização do botão */
.btn-add-register {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.btn-add:hover {
    background-color: #218838;
}

/* Estilização da tabela */
.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    border: 1px solid #ddd;
}

.table th, .table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.table tr:hover {
    background-color: #f5f5f5;
}

/* Estilização do modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fff;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    max-height: 80vh;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza o conteúdo */
    overflow: auto;
}

.modal .btn-container {
    width: 100%; /* Faz o contêiner ocupar toda a largura */
    display: flex;
    justify-content: center; /* Centraliza o botão */
}

button.btn-add {
    width: 50%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
}

.form-group {
    width: 100%;
    margin-bottom: 15px;
}

.modal input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    text-align: center; /* Centraliza o texto dentro do input */
}

.close {
    color: #e71010;
    float: left;
    font-size: 40px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Alinhamento filtro + controle de página */
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_length {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px; /* Espaçamento entre a linha e a tabela */
}

.dataTables_wrapper .dataTables_filter {
    justify-content: flex-end;
}

.dataTables_wrapper .dataTables_length {
    justify-content: flex-start;
}

/* Estilo adicional para ícones de ação */
#btn_pencil {
    color: #007bff;
    margin-right: 10px;
}

#btn_pencil:hover {
    color: #0056b3;
}

#btn_trash {
    color: #dc3545;
}

#btn_trash:hover {
    color: #c82333;
}

/* Responsividade */
@media (max-width: 768px) {
    .container {
        width: 95%; /* Ajusta a largura do container em telas menores */
    }
    
    .modal-content {
        width: 90%; /* Ajusta a largura do modal em telas menores */
    }
}